{% extends 'base.html' %}

{% block content %}

<!-- Start Breadcrumbs -->
<div class="breadcrumbs overlay">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumbs-content">
                    <h1 class="page-title">Gestionar mis trabajos</h1>
                    <p>El plan de negocios se basa en una amplia gama de conocimientos de diferentes disciplinas empresariales<br>.
                        Los negocios se basan en una amplia gama de negocios diferentes.</p>
                </div>
                <ul class="breadcrumb-nav">
                    <li><a href="{% url 'inicio' %}">Inicio</a></li>
                    <li>Gestionar mis trabajos</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumbs -->

<!-- Main Content Start -->
<div class="manage-jobs section">
    <div class="container">
        <div class="alerts-inner">
            <div class="row">
                <!-- Start Main Content -->
                <div class="col-lg-3 col-6">
                    <div class="dashbord-sidebar">
                        <ul>
                            <li class="heading">Gestionar cuenta</li>
                            <li><a href=""><i class="lni lni-clipboard"></i> Mi CV</a></li>
                            <li><a href=""><i class="lni lni-alarm"></i> Notificaciones <span
                                        class="notifi">5</span></a></li>
                            <li><a href=""><i class="lni lni-envelope"></i> Gestionar aplicaciones</a></li>
                            <li><a class="active" href=""><i class="lni lni-briefcase"></i> Gestionar mis trabajos</a></li>
                            <li><a href=""><i class="lni lni-lock"></i> Cambiar password</a></li>
                            <li><a href=""><i class="lni lni-upload"></i> Cerrar sesion</a></li>
                        </ul>
                    </div>
                </div>
                <!-- End Main Content -->
                <div class="col-lg-9 col-12">
                    <h5 class="card-title mb-3">Mis trabajos</h5>
                    <table class="table">
                        <thead class="table-dark">
                            <tr>
                                <th scope="col">Titulo del trabajo</th>
                                <th scope="col">Ubicacion</th>
                                <th scope="col">Horas de trabajo</th>
                                <th scope="col">Tipo de trabajo</th>
                                <th scope="col">Industria</th>
                                <th scope="col">Accion</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for job in jobs %}
                            <tr>
                                <td>{{job.job.title}}</td>
                                <td>{{job.job.city}}, {{job.job.state}}</td>
                                <td>{{job.job.salary}}</td>
                                <td>{{job.job.job_type}}</td>
                                <td>{{job.job.industry}}</td>
                                <td><a href="{% url 'job-details' job.job.pk %}"><small>Ver trabajo</small></a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    
                    <!-- Pagination -->
                    <div class="pagination left pagination-md-center">
                        <ul class="pagination-list">
                            <li><a href="#"><i class="lni lni-arrow-left"></i></a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#"><i class="lni lni-arrow-right"></i></a></li>
                        </ul>
                    </div>
                    <!-- End Pagination -->
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}