{% extends 'base.html' %}
{% load humanize %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<!-- Start Blog Singel Area -->
<section id="contact-us" class="contact-us section">
    <!-- Start Breadcrumbs -->
    <div class="breadcrumbs overlay">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumbs-content">
                        <h1 class="page-title">Blog</h1>
                        <p>El plan de negocios se basa en una amplia gama de conocimientos de diferentes<br> disciplinas empresariales. Los negocios se basan en una amplia gama de negocios diferentes.</p>
                    </div>
                    <ul class="breadcrumb-nav">
                        <li><a href="{% url 'home' %}">Inicio</a></li>
                        <li><a href="{% url 'blog' %}">Blog</a></li>
                        <li>Blog lateral</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumbs -->
</section>
<section class="section latest-news-area blog-list">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-7 col-12">
                <div class="row">
                    <div class="col-lg-6 col-12">
                        <!-- Single News -->
                        <div class="single-news wow fadeInUp" data-wow-delay=".3s">
                            <div class="image">
                                <img class="thumb" src="assets/images/blog/blog1.jpg" alt="#">
                            </div>
                            <div class="content-body">
                                <h4 class="title"><a href="">Hemos eliminado cientos de búsquedas de empleo</a></h4>
                                <div class="meta-details">
                                    <ul>
                                        <li><a href="#"><i class="lni lni-tag"></i> Habilidades de trabajo</a></li>
                                        <li><a href="#"><i class="lni lni-calendar"></i> 12-09-2023</a></li>
                                        <li><a href="#"><i class="lni lni-eye"></i> 55</a></li>
                                    </ul>
                                </div>
                                <p>Lorem Ipsum es simplemente un texto de relleno de la industria de la impresión y la tipografía. Lorem Ipsum ha sido el estándar.
                                </p>
                                <div class="button">
                                    <a href="" class="btn">Leer Más</a>
                                </div>
                            </div>
                        </div>
                        <!-- End Single News -->
                    </div>
                    <div class="col-lg-6 col-12">
                        <!-- Single News -->
                        <div class="single-news wow fadeInUp" data-wow-delay=".5s">
                            <div class="image">
                                <img class="thumb" src="assets/images/blog/blog2.jpg" alt="#">
                            </div>
                            <div class="content-body">
                                <h4 class="title"><a href="">Hoy desde la conexión con posibles empleadores</a></h4>
                                <div class="meta-details">
                                    <ul>
                                        <li><a href="#"><i class="lni lni-tag"></i> Orientación Profesional</a></li>
                                        <li><a href="#"><i class="lni lni-calendar"></i> 10-10-2023</a></li>
                                        <li><a href="#"><i class="lni lni-eye"></i> 55</a></li>
                                    </ul>
                                </div>
                                <p>Lorem Ipsum es simplemente un texto de relleno de la industria de la impresión y la tipografía. Lorem Ipsum ha sido el estándar.</p>
                                <div class="button">
                                    <a href="" class="btn">Leer Más</a>
                                </div>
                            </div>
                        </div>
                        <!-- End Single News -->
                    </div>
                    <div class="col-lg-6 col-12">
                        <!-- Single News -->
                        <div class="single-news wow fadeInUp" data-wow-delay=".3s">
                            <div class="image">
                                <img class="thumb" src="assets/images/blog/blog3.jpg" alt="#">
                            </div>
                            <div class="content-body">
                                <h4 class="title"><a href="">Hemos eliminado cientos de búsquedas de empleo.

                                </a></h4>
                                <div class="meta-details">
                                    <ul>
                                        <li><a href="#"><i class="lni lni-tag"></i> Habilidades De Trabajo</a></li>
                                        <li><a href="#"><i class="lni lni-calendar"></i> 09-05-2023</a></li>
                                        <li><a href="#"><i class="lni lni-eye"></i> 55</a></li>
                                    </ul>
                                </div>
                                <p>Lorem Ipsum es simplemente un texto de relleno de la industria de la impresión y la tipografía. Lorem Ipsum ha sido el estándar..</p>
                                <div class="button">
                                    <a href="" class="btn">Leer Más</a>
                                </div>
                            </div>
                        </div>
                        <!-- End Single News -->
                    </div>
                    <div class="col-lg-6 col-12">
                        <!-- Single News -->
                        <div class="single-news wow fadeInUp" data-wow-delay=".5s">
                            <div class="image">
                                <img class="thumb" src="" alt="#">
                            </div>
                            <div class="content-body">
                                <h4 class="title"><a href="">Internet es el éxito más crucial para quienes buscan empleo</a></h4>
                                <div class="meta-details">
                                    <ul>
                                        <li><a href="#"><i class="lni lni-tag"></i> Job skills</a></li>
                                        <li><a href="#"><i class="lni lni-calendar"></i> 12-09-2023</a></li>
                                        <li><a href="#"><i class="lni lni-eye"></i> 55</a></li>
                                    </ul>
                                </div>
                                <p>Lorem Ipsum es simplemente un texto de relleno de la industria de la impresión y la tipografía. Lorem Ipsum ha sido el estándar..</p>
                                <div class="button">
                                    <a href="" class="btn">Leer Más</a>
                                </div>
                            </div>
                        </div>
                        <!-- End Single News -->
                    </div>
                    <div class="col-lg-6 col-12">
                        <!-- Single News -->
                        <div class="single-news wow fadeInUp" data-wow-delay=".3s">
                            <div class="image">
                                <img class="thumb" src="assets/images/blog/blog2.jpg" alt="#">
                            </div>
                            <div class="content-body">
                                <h4 class="title"><a href="">Internet es el éxito más crucial para quienes buscan empleo</a></h4>
                                <div class="meta-details">
                                    <ul>
                                        <li><a href="#"><i class="lni lni-tag"></i> Career advice</a></li>
                                        <li><a href="#"><i class="lni lni-calendar"></i> 10-10-2023</a></li>
                                        <li><a href="#"><i class="lni lni-eye"></i> 55</a></li>
                                    </ul>
                                </div>
                                <p>Lorem Ipsum es simplemente un texto de relleno de la industria de la impresión y la tipografía. Lorem Ipsum ha sido el estándar.</p>
                                <div class="button">
                                    <a href="" class="btn">Leer Más</a>
                                </div>
                            </div>
                        </div>
                        <!-- End Single News -->
                    </div>
                    <div class="col-lg-6 col-12">
                        <!-- Single News -->
                        <div class="single-news wow fadeInUp" data-wow-delay=".5s">
                            <div class="image">
                                <img class="thumb" src="{% static '/images/blog/blog3.jpg' %}" alt="#">
                            </div>
                            <div class="content-body">
                                <h4 class="title"><a href="">Hoy desde la conexión con posibles empleadores</a></h4>
                                <div class="meta-details">
                                    <ul>
                                        <li><a href="#"><i class="lni lni-tag"></i> Future plan</a></li>
                                        <li><a href="#"><i class="lni lni-calendar"></i> 09-05-2023</a></li>
                                        <li><a href="#"><i class="lni lni-eye"></i> 55</a></li>
                                    </ul>
                                </div>
                                <p>Lorem Ipsum es simplemente un texto de relleno de la industria de la impresión y la tipografía. Lorem Ipsum ha sido el estándar..</p>
                                <div class="button">
                                    <a href="" class="btn">Leer Más</a>
                                </div>
                            </div>
                        </div>
                        <!-- End Single News -->
                    </div>

                </div>
                <!-- Pagination -->
                <div class="pagination center">
                    <ul class="pagination-list">
                        <li><a href="#"><i class="lni lni-chevron-left"></i></a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#"><i class="lni lni-chevron-right"></i></a></li>
                    </ul>
                </div>
                <!--/ End Pagination -->
            </div>
            <aside class="col-lg-4 col-md-5 col-12">
                <div class="sidebar">
                    <div class="widget search-widget">
                        <h5 class="widget-title"><span>Buscar en este sitio</span></h5>
                        <form action="">
                            <input type="text" placeholder="Buscar aqui...">
                            <button type="submit"><i class="lni lni-search-alt"></i></button>
                        </form>
                    </div>
                    <div class="widget popular-feeds">
                        <h5 class="widget-title"><span>Feeds populares</span></h5>
                        <div class="popular-feed-loop">
                            <div class="single-popular-feed">
                                <div class="feed-desc">
                                    <h6 class="post-title"><a href="#">Consejos para escribir un currículum impresionante en línea para principiantes</a></h6>
                                    <span class="time"><i class="lni lni-calendar"></i> 5 de noviembre de 2023</span>
                                </div>
                            </div>
                            <div class="single-popular-feed">
                                <div class="feed-desc">
                                    <h6 class="post-title"><a href="#">Las 10 áreas de enfoque de SEO más importantes para colegios y universidades</a></h6>
                                    <span class="time"><i class="lni lni-calendar"></i> 24 de marzo de 2023</span>
                                </div>
                            </div>
                            <div class="single-popular-feed">
                                <div class="feed-desc">
                                    <h6 class="post-title"><a href="#">7 cosas que nunca deberías decirle a tu jefe en tu vida laboral</a></h6>
                                    <span class="time"><i class="lni lni-calendar"></i> 30 de enero de 2023</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="widget categories-widget">
                        <h5 class="widget-title"><span>Categorias</span></h5>
                        <ul class="custom">
                            <li>
                                <a href="">Anuncio<span>26</span></a>
                            </li>
                            <li>
                                <a href="">Eventos<span>30</span></a>
                            </li>
                            <li>
                                <a href="">Consejo y trucos<span>71</span></a>
                            </li>
                            <li>
                                <a href="">Experiencias<span>56</span></a>
                            </li>
                            <li>
                                <a href="">Estudios de caso<span>15</span></a>
                            </li>
                            <li>
                                <a href="">Noticias del mercado laboral <span>12</span></a>
                            </li>
                            <li>
                                <a href="">Mejores practicas de recursos humanos<span>17</span></a>
                            </li>
                        </ul>
                    </div>
                    <div class="widget popular-tag-widget">
                        <h5 class="widget-title"><span>Etiquetas populares</span></h5>
                        <div class="tags">
                            <a href="">Prensa laboral</a>
                            <a href="">Diseño</a>
                            <a href="">Reclutador</a>
                            <a href="">Entrevista</a>
                            <a href="">HR</a>
                            <a href="">Empleado</a>
                            <a href="">Mano de obra</a>
                            <a href="">Salario</a>
                            <a href="">Consulta</a>
                            <a href="">Negocio</a>
                            <a href="">Candidatos</a>
                        </div>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</section>
{% endblock %}